<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style type="text/css">
    @import "privacy.css";
  </style>
</head>
<body>
<div class="parrent">
  <p class="titil">用户隐私与使用协议</p>
  <p>本《用户使用协议》（以下称“本协议”）是由您（以下称“用户”）与北京智众互动科技有限公司（以下称“开心0元购”）
    就用户使用“开心0元购”提供的“开心0元购”互联网服务（包括但不限于开心0元购App端）所订立的相关权利义务规范。
    本服务条款对用户和“开心0元购”均具有法律效力。本协议连同所有更新材料、补充条款以及“开心0元购”的其他规则
    和政策共同构成了用户与“开心0元购”之间的协议</p>
  <p>“开心0元购”在此特别提醒，在用户注册使用“开心0元购”服务前，
    请务必审慎阅读本协议的全部条款、充分理解各条款内容后再点击同意，特别是免除或者限制“开心0元购”责任的条款、对
    用户权利限制的条款、法律适用和争议解决条款，这些条款将尽可能以加粗及下划线方式标识。如用户按照注册页面提示填
    写信息、点击同意本协议且完成全部注册流程，或者在“开心0元购”更新本协议后继续使用“开心0元购”提供的服务，即表示
    用户已充分阅读、理解并接受本协议的全部内容，成为具有法律约束力的本协议的一方。如果用户不同意本协议任何条款及/或
    修改后的内容，应立即停止注册程序或停止使用“开心0元购”提供的服务。</p>
  <p class="pTitle">一、账号注册与使用</p>
  <p>1. 用户在使用“开心0元购”服务时可能需要注册一个账号，账号注册成功后，将产生“开心0元购”账号及相应的用户名和密码等账号信息。“开
    心0元购”账号的所有权归“开心0元购”所有，用户完成申请注册手续后，获得“开心0元购”账号的使用权，该使用权仅属于初
    始申请注册人，禁止赠与、借用、租用、转让或售卖，用户应谨慎合理地保存、使用其用户名和密码。</p>
  <p>2. 用户在注册
    及使用“开心0元购”服务时，必须向“开心0元购”提供真实、准确、完整、合法有效的资料，且有义务维持并及时更新相关资
    料。用户应当保证在账号名称、头像和简介等注册信息中不得出现违法和不良信息。如果用户提供的资料违反本款要求，用
    户需承担因此引起的相应责任及后果，并且“开心0元购”保留终止用户使用“开心0元购”各项服务或采取其他处理措施的权利
    。</p>
  <p>3. 作为“开心0元购”服务的提供者，为使用户更好地使用“开心0元购”的各项服务，保障用户的账号安全，“开心0元
    购”有权要求用户按照我国法律规定完成实名认证。</p>
  <p>4. 用户应当对以其用户账号进行的所有活动和事件负法律责任。用
    户同意在任何情况下不使用其他用户的账号或密码，不得冒充他人，也不得恶意使用注册账号导致其他用户误认，否则“开心
    0元购”有权立即停止提供服务，收回其账号并由用户独自承担由此而产生的一切法律责任。在用户怀疑他人使用其账号或密
    码时，用户同意立即通知“开心0元购”并按照“开心0元购”的要求提供相关身份证明文件等材料，同意授权“开心0元购”采取
    一切合理措施以保证用户的利益不受损害，并认可该等措施所产生的法律效果归于用户自身。因黑客行为或用户的保管疏忽
    等非“开心0元购”的原因导致账号、密码遭他人非法使用，“开心0元购”不承担任何责任。</p>
  <p class="pTitle">二、服务内容与用户行为规范</p>
  <p>1. “开心0元购”提供服务的具体内容由“开心0元购”根据实际情况决定，“开心0元购”保留随时变更、中断或终
    止部分或全部服务的权利，“开心0元购”不承担因业务调整给用户造成的损失。除非本协议另有其他明示规定，调整、增加或
    者强化“开心0元购”服务中的任何功能，包括所推出的新产品，均受到本协议之规范。</p>
  <p>2. “开心0元购”是一个信息分 享、传播及获取的平台，用户通过“开心0元购”发表的信息为公开的信息，其他第三方均可以通过“开心0元购”进行获取，用
    户对任何信息的发表即认可该信息为公开的信息，任何用户不愿被其他第三方获知的信息都不应该在“开心0元购”上进行发表。
    如根据相关法律法规的规定，其他第三方获取用户发表的信息需要另行取得用户同意的，由该第三方与用户自行协商解决，
    第三方的行为与“开心0元购”无关，同时用户与第三方的任何合作均不应违反本协议约定。</p>
  <p>3. 用户承诺不得以任何方式利用“开心0元购”直接或间接从事违反中国法律以及社会公德的行为，“开心0元购”有权对违反上述承诺的内容予以删除。用户在使用“开心0元购”服务时所传送、发布的任何内容仅表明其个人的观点和立场，并不反映或代表，也不得被视为反映或代表“开心0元购”的观点、立场或政策；用户作为内容的发布者，需自行对所发布内容负责并承担全部法律责任。“开心0元购”不对用户传送、发布的内容的正确性、完整性进行保证，除法律法规规定的义务外，“开心0元购”不承担任何其他责任。</p>
  <p>4. 用户在使用“开心0元购”服务的过程中，不得上载、复制、发布、传播或者转载如下内容：</p>
  <p>（1）反对宪法所确定的基本原则的；</p>
  <p>（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
  <p>（3）损害国家荣誉和利益的；</p>
  <p>（4）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
  <p>（5）破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
  <p>（6）散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
  <p>（7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
  <p>（8）侮辱或者诽谤他人，侵害他人合法权益的；</p>
  <p>（9）含有法律、行政法规禁止的其他内容的信息。</p>
  <p>5. “开心0元购”提供的服务中使用的商业标识、版面设计、排版方式、文字、图片、图形、音频、视频、有关数据等内容及资源的著作权、商标权、专利权、商业秘密等知识产权均归“开心0元购”或“开心0元购”指定的第三方所有，均受法律法规和相应的国际条约的保护，但相关权利人依照法律规定应享有的权利除外。</p>
  <p>6. 除法律法规另有强制性规定外，未经“开心0元购”或相关权利人许可，任何单位或个人不得以任何形式非法地全部或部分复制、转载、引用、链接、抓取、反向工程、反向编译、反汇编或以其他方式使用“开心0元购”提供的服务中包含的任何文本、图片、图形、音频和/或视频资料等信息内容，否则，“开心0元购”或相关权利人有权追究其法律责任。“开心0元购”不就由上述资料产生或在传送或递交全部或部分上述资料过程中产生的延误、不准确、错误和遗漏或从中产生或由此产生的任何损害赔偿向用户或任何第三方负责。</p>
  <p class="pTitle">三、侵权行为的举报与投诉</p>
  <p>1. “开心0元购”尊重每位用户的知识产权，也希望用户在使用本服务时可以遵守中国法律有关知识产权的规定。用户理解并同意，用户对其公开发布在“开心0元购”上的全部内容应系其原创，享有完整的、无瑕疵的知识产权或已经取得相关权利人的事先书面许可。如用户在“开心0元购”上发表的内容侵犯了第三方的著作权或其他权利，“开心0元购”有权依照法律规定进行处理。</p>
  <p>2. 如果“开心0元购”发现或收到他人举报或投诉用户违反本协议约定的，“开心0元购”有权在不通知涉嫌侵权的用户的情况下，对涉嫌侵权的内容及用户资料进行审查。“开心0元购”有权根据实际情况按照法律规定对相关侵权内容采取删除、屏蔽、断开链接等处理措施，并有权对违规账号作出相应处理。</p>
  <p>3. 如果权利人或其合法代理人发现“开心0元购”上存在侵犯自身合法权益的内容，可以先尝试与作者取得联系，通过沟通协商解决问题。如权利人或其合法代理人无法联系到作者，或无法通过与作者沟通解决问题，权利人或其合法代理人可向“开心0元购”进行投诉。为了保证问题能够及时有效地处理，请务必提交真实有效、完整清晰的材料，否则投诉可能无法受理。投诉人需要向“开心0元购”提供的投诉材料包括：</p>
  <p>（1）权利人对涉嫌侵权内容拥有商标权、著作权和/或其他依法可以行使权利的权属证明，权属证明包括但不限于营业执照/商标注册证/著作权登记证书等；</p>
  <p>（2）权利人的身份证明，身份证明可以是身份证或护照；</p>
  <p>（3）如果投诉人为权利人的合法代理人，除上述材料外，投诉人还应提供代表权利人进行投诉的书面授权证明及权利人的身份证明；</p>
  <p>（4）为确保投诉材料的真实性，在侵权投诉中，权利人还需要签署以下法律声明：</p>
  <p class="abc">a. 我本人为所投诉内容的合法权利人；</p>
  <p class="abc">b. 我投诉的发布在“开心0元购”平台中的内容侵犯了本人相应的合法权益；</p>
  <p class="abc">c. 如果本侵权投诉内容不完全属实，本人将承担由此产生的一切法律责任，并承担和赔偿“开心0元购”因根据投诉人的通知书对相关账号的处理而造成的任何损失，包括但不限于“开心0元购”因向被投诉方赔偿而产生的损失及“开心0元购”名誉、商誉损害等。</p>
  <p>4. “开心0元购”有权对用户使用服务的情况进行审查和监督，如用户在使用服务时存在任何违反本协议规定的情形，“开心0元购”有权要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户发布的内容、暂停或终止用户使用服务的权利等）以消除或减轻用户不当行为造成的影响。同时，“开心0元购”作为网络服务提供者，对非法转载、虚假发布、盗版行为的发生不具备充分的监控能力；“开心0元购”对他人在网站上实施的此类侵权行为不承担法律责任，侵权责任概由实施方承担。</p>
  <p>5. 如果任何第三方侵犯了“开心0元购”用户的相关权利，用户同意授权“开心0元购”或其指定的代理人代表“开心0元购”自身或用户对该第三方提出警告、投诉、发起行政执法、诉讼、进行上诉或谈判和解，并且用户同意在“开心0元购”认为必要的情况下参与共同维权或签署、出具授权文件等相关材料。</p>
  <p class="pTitle">四、免责声明</p>
  <p>1. “开心0元购”将根据法律法规的要求对“开心0元购”网站上的商品、服务、广告等信息进行合理审核，但无法保证设置的外部链接的准确性和完整性，同时对于该等外部链接指向的不由“开心0元购”实际控制的任何网页上的内容，均不承担任何责任。同时，“开心0元购”服务的内容可能涉及由第三方个人或单位提供，该等包含的第三方所提供的服务品质及内容由第三方自行负责；用户应当知晓并按照第三方服务协议使用第三方服务。第三方的内容、商品、服务、广告和其他任何信息均需由用户自行判断并承担风险，“开心0元购”不保证其内容及网络服务的及时性、安全性、准确性，若因此引发任何争议或损害，“开心0元购”对此不承担责任。</p>
  <p>2. “开心0元购”不保证服务一定能满足用户的要求，对于因不可抗力或“开心0元购”不能控制的原因造成的服务中断或其它缺陷，“开心0元购”不承担任何责任，但将合理审慎地采取必要措施减少因此而给用户造成的损失和影响。</p>
  <p>3. 用户理解，“开心0元购”需要定期或不定期地对提供网络服务的平台（如互联网网站、移动网络等）或相关的设备进行检修、维护或升级，如因此类情况造成网络服务在合理时间内的中断，“开心0元购”无需为此承担任何责任，但“开心0元购”将尽可能事先进行通告。</p>
  <p>4. 用户理解并确认，在使用本服务过程中存在来自任何他人的包括误导性的、欺骗性的、威胁性的、诽谤性的、令人反感的或非法的信息，或侵犯他人权利的匿名或冒名的信息，以及伴随该等信息的行为，对此还请用户谨慎判断，不要轻信该等信息以致产生损失，因此导致用户或第三方的任何损失的，“开心0元购”将会向用户提供必要的帮助，但不承担任何责任。</p>
  <p>5. 在任何情况下，“开心0元购”均不对任何间接性、后果性、惩罚性、偶然性、特殊性或刑罚性的损害承担责任，包括因用户使用“开心0元购”服务而遭受的利润损失等，即使“开心0元购”已被告知该等损失的可能性亦然。</p>
  <p>五、其他</p>
  <p>1. 本协议的效力、解释及纠纷的解决，适用于中华人民共和国法律。若用户和“开心0元购”之间发生任何纠纷或争议，首先应友好协商解决，协商不成的，用户同意将纠纷或争议提交“开心0元购”所在地有管辖权的人 民法院管辖。</p>
  <p>2. 本协议的任何条款无论因何种原因无效或不具可执行性，其余条款仍有效，对双方具有约束力.</p>
  <p></p>
  <p></p>

</div>

</body>
</html>
